<html lang="en">
    <head>
        <title>NYC MOVIES</title>
        <meta charset="UTF-8">
        <meta namd="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../src/styles/output.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <h1 class="page-title font-bold text-center text-5xl">NYC MOVIES . CLUB</h1>
            <label>Start Date:</label>
            <input type="date" id="startDate">
            <br />
            <label>End Date:</label>
            <input type="date" id="endDate">
        </div>
        <div class="content overflow-x-auto">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Title</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Showtime</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Theater</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Borough</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Theater Address</th>
                    </tr>
                </thead>    
                <tbody class="bg-white divide-y divide-gray-200">
                {% for movie in movies %}
                    <tr class="hover:bg-gray-50">
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700"><a href="{{ movie.wiki_link }}">{{ movie.title }}</a></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">{{ movie.showtime }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700"><a href="{{ movie.theater_url }}">{{ theater_name }}</a></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">Brooklyn</th>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">38 South 3rd St., Brooklyn NY, 11249</th> <!--Maybe this can be a Google Maps link-->
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>

<!--Maybe not a table, but at least a nice list view-->
<!--Maybe if you hover, the image displays-->
<!--For SEO, need a page for each theater-->
<!--Maybe for nyc neighborhoods as well-->
<!--Spreadsheet pretty terrible for mobile-->
<!--Mobile design is probably the most important thing-->